In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("sms.db")

In [3]:
cur = conn.cursor()

In [5]:
cur.execute('''
            CREATE TABLE STUDENT(
            SID INT,
            SNAME CHAR(40),
            EMAIL VARCHAR(60),
            CITY CHAR(40)
            )''')
conn.commit()

In [6]:
cur.execute('''
            CREATE TABLE COURSE(
            CID INT,
            COURSENAME CHAR(40),
            SID INT,
            PRICE FLOAT
            )''')
conn.commit()

In [7]:
cur.execute('''
            CREATE TABLE TRANSCATION(
            TID INT,
            SID INT,
            CID INT,
            PRICE FLOAT
            )''')
conn.commit()