In [ ]:
x="Hello coders I am coding"
ls=[]
d=0
for i in x:
  if i=='c':
    d=x.index(i)
    ls.append(d)
d=d+1
ls

[6, 6]

In [ ]:
x="Hello coders I am coding"
ls=[]
p=0
for i in range(x.count("c")):
    p=x.index('c',p+1)
    ls.append(p)
ls

In [ ]:
ls=[1,2,3,4,3,2,3,1,5,6,6,4,3,2]
l=[]
for i in ls:
  if i not in l:
    l.append(i)
for i in l:
    print(i,ls.count(i))

1 2
2 3
3 4
4 2
5 1
6 2

In [ ]:
s = ["Blue", "red", "green"]
d = {}

for i in range(len(s)):
    d[i+1] = s[i]

print(d)

{1: 'Blue', 2: 'red', 3: 'green'}

1.Write a Python program to check if a given number is even or odd.

In [ ]:
def even_or_odd(n):
  if n%2!=0:
    print(f"{n} is odd")
  else:
    print(f"{n} is even")
even_or_odd(18)

18 is even

2. Write a Python program to find the largest among three given numbers.

In [ ]:
def largest(x,y,z):
  if x > y and x > z:
    print(f"{x} is greater than {y},{z}")
  elif y > x and y > z:
    print(f"{y} is greater than {x},{z}")
  else:
    print(f"{z} is greater than {x},{y}")
largest(2,1,7)

7 is greater than 2,1

3. Write a Python program to calculate the sum of all the elements in a list.

In [ ]:
ls=[1,2,3,4,5,2,3,4]
def add_list(ls):
  sum=0
  for i in ls:
    sum=sum+i
  return sum
y=add_list(ls)
print(y)

24

4. Write a Python program to find the factorial of a given number.

In [ ]:
def factorial(n):
  if n==1 or n==0:
    s=1
  else:
    s=n*factorial(n-1)
  return s
f=factorial(5)
print(f)

120

5. Write a Python program to check if a given string is a palindrome (i.e., reads the
same forwards and backwards).

In [ ]:
def palindrome(str):
  reverse=str[::-1]
  if reverse==str:
    print(f"{str} is palindrome")
  else:
    print(f"{str} is not palindrome")
palindrome("MDAM")

MDAM is not palindrome

In [ ]:
def palindrome(str):
  le=len(str)
  for i in  range(le//2):
    if str[i]==str[le-1-i]:
       return "yes"
    else:
      return "no"
palindrome("MDAM")

'yes'

6. Write a Python program to find the prime numbers in a given range.

In [ ]:
ls=[]
def prime(x,y):
    for i in range(x,y+1):
      count=0
      for j in range(1,y+1):
        if i%j==0:
          count=count+1
      if count==2:
        ls.append(i)
    return ls
y=prime(10,100)
print(y)

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

7. Write a Python program to find the common elements between two lists.

In [ ]:
ls=[1,2,3,4,5,6,78]
ls1=[2,3,4,59,12]
ls2=[]
def similar_nos(ls,ls1):
  for i in ls:
    for j in ls1:
      if i==j:
        ls2.append(i)
  return ls2
similar_nos(ls,ls1)

[2, 3, 4]

8. Write a Python program to count the occurrences of a specific element in a list.

In [ ]:
ls=[1,2,3,4,3,2,3,1,5,6,6,4,3,2]
l=[]
def occu(ls):
  for i in ls:
    if i not in l:
      l.append(i)
  for i in l:
     print(i,ls.count(i))
occu(ls)

1 2
2 3
3 4
4 2
5 1
6 2

9. Write a Python program to reverse a string without using built-in functions.

---

In [ ]:
def reverse(str):
  reverse=str[::-1]
  return reverse
reverse("MDAM")

'MADM'

10.Write a Python program to find the second largest element in a list.

In [ ]:
ls=[1,2,3,5,4,6,5,122,19]
min=ls[0]
def sort(ls):
  ls1=[]
  min=ls[0]
  for i in ls:
    if i>min:
      ls1.append(i)
    else:
      ls1.append(min)
    i=min
  return ls1
sort(ls)

[1, 2, 3, 5, 4, 6, 5, 122, 19]

In [ ]:
def sorting(ls):
  for i in range(0,len(ls)):
    for j in range(i+1,len(ls)):
      if ls[i]<=ls[j]:
        ls[i],ls[j]=ls[j],ls[i]
  sec=ls[1]
  return sec
s=sorting(ls)
s

15

11. Write a Python program to find the sum of digits of a given number.

In [ ]:
N=int(input("Enter your digits : "))
def addition(n):
  sum=0
  for i in str(n):
     sum=int(i)+sum
  return sum
addition(N)

Enter your digits : 5688

27

12.Write a Python program to remove duplicates from a list.

In [ ]:
ls=[1,2,3,4,5,6,2,3,9,8,7,6,3]
def duplicates(ls):
  ls1=[]
  for i in ls:
      if i not in ls1:
        ls1.append(i)
  return ls1
duplicates(ls)

[1, 2, 3, 4, 5, 6, 9, 8, 7]

13.Write a Python program to find the length of the longest consecutive sequence of
a given list of integers.

14.Write a Python program to determine if a given year is a leap year or not.

In [ ]:
n=int(input("Enter year : "))
def leap_or_not(n):
  if n%400==0 or n%4==0 and n %100!=0:
    print(f"{n} is leap year")
  else :
    print(f"{n} is not leap year")
leap_or_not(n)

Enter year : 2100
2100 is not leap year

15.Write a Python program to find the square root of a given number

In [ ]:
n=int(input("Enter year : "))
def squre_root(n):
  s=n**0.5
  return s
squre_root(n)

Enter year : 25

5.0

# **Set B**

1. Write a Python program to find the largest sum of any two elements in a given list
of integers.

In [ ]:
ls=[1,2,3,4,5,6,7,8,9,8]

def largest(ls):
  for i in range(0,len(ls)):
    sum=0
    for j in range(i+1,len(ls)):
      sum1=ls[i]+ls[j]
      if sum1>sum:
        sum=sum1
  return sum1
largest(ls)

17

2. Write a Python program to remove all the vowels from a given string.

In [ ]:
x="Ainhrdtaxsvcgsxxqqebdoiopu"
vowels=['a','e','i','o','u']
def no_vowels(x):
  y=x.lower()
  print(y)
  for i in y:
    for j in vowels:
      if i==j:
        y=y.replace(i,'')
  return y
no_vowels(x)

ainhrdtaxsvcgsxxqqebdoiopu

'nhrdtxsvcgsxxqqbdp'

3. Write a Python program to find the common characters between two given
strings.

In [ ]:
s="Lucky Reddy"
a="Ahalya Reddy"
def common_char(s,a):
  ls=[]
  for i in s.lower():
    for j in a.lower():
      if i==j:
        if i not in ls:
          ls.append(i)
  return ls
common_char(s,a)

['l', 'y', ' ', 'r', 'e', 'd']

4. Write a Python program to find the length of the longest word in a given
sentence.

In [ ]:
y="I am luckyggga reddy addiwar"
ls=[]
def longest(y):
  ln=0
  for i in y.split():
     if len(i)>ln:
       ln=len(i)
       n=i
  print(n,ln)
longest(y)

luckyggga 9

5. Write a Python program to find the product of all the elements in a list

In [ ]:
ls=[1,2,3,4,5,6]
def pro(ls):
  p=1
  for i in ls:
     p=p*i
  return p
pro(ls)

720

6. Write a Python program to check if a given word is a palindrome (i.e., reads the
same forwards and backwards) by ignoring whitespaces and capitalization.

In [ ]:
s=input("Enter your word : ")
def palindrome(s):
  b=s.lower()
  b=b.replace(" ",'')
  rever=b[::-1]
  if rever==b:
    print("yes")
  else:
    print("no")
palindrome(s)

Enter your word : ma  dam
yes

7. Write a Python program to find the first non-repeated character in a given string.

In [ ]:
st="character"
def non_repe(st):
  ls=[]
  for i in st:
    count=0
    for j in st:
      if i ==j:
        count =count+1
    if count <2:
      ls.append(i)
  return ls[0]
non_repe(st)

'h'

8. Write a Python program to check if a given list is sorted in ascending orde

In [ ]:
ls=[1,2,8,9,3,4,7,8]
def sortedd(ls):
  min=ls[0]
  ls1=[]
  for i in ls:
    if i>min:
      ls1.append(i)
    else:
      ls1.append(min)
      min=i
  return ls1
y=sorted(ls)
print(y)
if y==ls:
  print("True")
else:
  print("False")

[1, 2, 3, 4, 7, 8, 8, 9]
False

9. Write a Python program to find the sum of all even numbers in a given list of
integers.

In [ ]:
ls=[1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,677]
def sum_even(ls):
  sum=0
  for i in ls:
    if i%2==0:
      sum=i+sum
  return sum
sum_even(ls)

26

10.Write a Python program to check if two strings are anagrams (i.e., have the same
characters with the same frequencies).

In [ ]:
s="Lucky"
y="kyluc"
def anagrams(s,y):
  for i in s:
    for j in y:
      if i==j:

11. Write a Python program to rotate the elements of a list by a given number of
positions to the right.

In [ ]:
ls=[1,2,3,4,5,6,7,8]
ls1=[]
def rotate(ls):
   for i in ls[::-1]:
    ls1.append(i)
   return ls1
rotate(ls)

[8, 7, 6, 5, 4, 3, 2, 1]

12.Write a Python program to find the common elements among three given lists.

In [ ]:
ls=[1,2,3,4,5,6,7,8,9]
ls1=[1,4,5,6,6,7]
ls2=[1,4,5,6,7,9,0,3,112]
ls3=[]
def common(ls,ls1,ls2):
  for i in ls:
    for j in ls1:
      for m in ls2:
        if i==j and i==m:
          if i not in ls3:
            ls3.append(i)
  return ls3
common(ls,ls1,ls2)

[1, 4, 5, 6, 7]

13.Write a Python program to count the occurrences of each word in a given text.

In [ ]:
y="I am lucky addiwar , My name is lucky addiwar"
y1=y.split()
y2=set(y1)
print(y1)
def count_word(y):
  for i in y2:
    count=0
    for x in y1:
      if i==x:
        count=count+1
    print(i,count)
m =count_word(y)
m

['I', 'am', 'lucky', 'addiwar', ',', 'My', 'name', 'is', 'lucky', 'addiwar']
lucky 2
I 1
is 1
addiwar 2
name 1
My 1
am 1
, 1

In [ ]:
ls=[1,2,3,4,3,2,3,1,5,6,6,4,3,2]
l=[]
for i in ls:
  if i not in l:
    l.append(i)
for i in l:
    print(i,ls.count(i))

14.Write a Python program to find the smallest missing positive integer in a given list
of integer

15.Write a Python program to find the maximum occurring character in a given
strin

In [ ]:
St = "Luckyxnsjbehvnccmchje"

def max_occ(St):
    max_count = 0
    for i in set(St):
        count = 0
        for j in list(St):
            if i == j:
                count += 1
        if count > max_count:
            max_count = count
            max_char = i

    print(f"{max_char} , {max_count} ")

max_occ(St)

c , 4

In [ ]:
St="Luckyxnsjbehvnccmchje"
ls=[]
def max_occ(St):
  for i in St.lower():
    ls.append(i)
  count=0
  for j in ls:
    if j in ls:
      count=count+1
    print(j,count)
max_occ(St)

l 1
u 2
c 3
k 4
y 5
x 6
n 7
s 8
j 9
b 10
e 11
h 12
v 13
n 14
c 15
c 16
m 17
c 18
h 19
j 20
e 21

In [ ]:
name=["Lucky","Sadvika"]
email=["lucky@gmail.com","sadvika@gmail.com"]
marks=[12,15]
s=["p","p"]
st={}

cnt=1
for i ,j,k,l in zip(name,email,marks,s):
   d={}
   d['name']=i
   d['email']=j
   d['marks']=k
   d['status']=l
   st[cnt]=d
   cnt=cnt+1

print(st)

{1: {'name': 'Lucky', 'email': 'lucky@gmail.com', 'marks': 12, 'status': 'p'}, 2: {'name': 'Sadvika', 'email': 'sadvika@gmail.com', 'marks': 15, 'status': 'p'}}

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-137-e77dd30f1745>, line 1)

In [ ]:
y=lambda x :x%2==0
n=y(10)
if n is True:
  print("yes")
else:
  print("no")

yes

In [ ]:
y=lambda x :"even" if x%2==0 else "odd"
y(10)

'even'

In [ ]:
x=lambda x,y:f"{x} is max" if x>y else  f"{y} is max"
x(1,3)

'3 is max'

In [ ]:
squre=lambda x:x**2
ls=[1,2,3,4,5]
y=list(map(squre, ls))
y

[1, 4, 9, 16, 25]

In [ ]:
from functools import reduce
y=reduce(lambda x,y:x if x>y else y ,[1,2,4,52])
y

52